{% extends 'index.html' %}
{% block title %} Loan {% endblock title %}  
{% block body %}
     {% load static %}
     
           <div class="ms_loader">
		<div class="wrap">
		  <img src=" {% static 'images/loader.gif' %} "  alt="">
		</div>
	</div>

            <!----Upload and Share Wrapper Start---->
            <div class="ms_upload_wrapper marger_top60">
              
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">

      {% if message.tags == "success" %}
      <strong>Well done!</strong> {{ message}}
      {% else %}
      <strong>Error!</strong> {{ message}}
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
                <div class=" marger_top60" >
                    <div class="ms_upload_box">
                        <div class="ms_heading">
                            <h1>User Profile</h1>
                        </div>
                         <form action="" method="post" name="reg" role="form" class="php-email-form">
                              {% csrf_token %}
                              {% for a in address1 %}
                            <div class="save_input_group">
                                <label style='color:white; font-size20px'>UserName</label>
                                <input type="text" name ='name'  class="form-control" value={{user1.username}}>
                            </div>
                          </br>

                          <div class="save_input_group">
                            <label style='color:white; font-size20px'>City</label>
                            <input type="text" name ='city'  class="form-control" value={{a.city}}>
                        </div>
                      </br>
                      <div class="save_input_group">
                        <label style='color:white; font-size20px'>Address1</label>
                        <input type="text" name ='ad1'  class="form-control" value={{a.Address1}}>
                    </div>
                  </br>
                  <div class="save_input_group">
                    <label style='color:white; font-size20px'>Address2</label>
                    <input type="text" name ='ad2'  class="form-control" value={{a.Address2}}>
                </div>
              </br>
              <div class="save_input_group">
                <label style='color:white; font-size20px'>Postal Code</label>
                <input type="text" name ='pc'  class="form-control" value={{a.postalcode}}>
            </div>
          </br>
          <div class="save_input_group">
            <label style='color:white; font-size20px'>Phone</label>
            <input type="number" name ='phone'  class="form-control" value={{a.phone}}>
        </div>
      </br>
      <div class="save_input_group">
        <label style='color:white; font-size20px'>Country</label>
        <input type="text" name ='country'  class="form-control" value={{a.country}}>
    </div>
  </br>
                            <div class="pro-form-btn text-center marger_top15">
                                <div class="ms_upload_btn">
                                    <button type="submit" class="ms_btn">Update</button>
                                </div>
                          
                            </div>
                            {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!----Main div close---->
        </div>
        <!----Footer Start---->
      {% endblock body %}